input, textarea {
    border: 2px solid black;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    outline: none;
    background-color: white;
    user-select: text;
}

input[type="password"], textarea {
    font-family: sans-serif
}

button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    outline: none;
}

button:active {
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}

input:disabled, textarea:disabled, button:disabled {
    border-color: gray;
    color: gray;
    cursor: default;
}

.gameScreen {
    height: 100%;
    width: 100%;
  }

.centerOnScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }