html, body {
    height: 100%;
    width: 100%;
}

body {
    user-select: none;
}

body, input, textarea, button {
    font-family: "Volter", sans-serif;
}

#renderRoot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#uiRoot  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;

}